# NOTE: lintの監視から除外するファイルを指定する
# see: https://zenn.dev/resistance_gowy/articles/91b4f62b9f48ec#%E8%A3%9C%E8%B6%B3

# config
.eslintrc.js
prettier.config.js
next.config.js
tsconfig.json

# build dir
build/
bin/
obj/
out/
.next/
